<%= form_with(model: showing, local: true) do |form| %>
  <% if showing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(showing.errors.count, "error") %> prohibited this showing from being saved:</h2>

      <ul>
      <% showing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :film_id %>
    <%= form.text_field :film_id %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :rows %>
    <%= form.number_field :rows %>
  </div>

  <div class="field">
    <%= form.label :seats_per_row %>
    <%= form.number_field :seats_per_row %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
