<p id="notice"><%= notice %></p>



<div class="wrapper-inner px-4">
  <div class="heading mx-2 mb-4">
    <h1 class="title display-4"><%= t('showings.index.title') %><%= @film.title %></h1>
    <p class="description lead"><%= t('showings.index.description') %></p>
  </div>
    <div class='item-grid mx-2 py-4'>
      <% (0..@uniqueVenues.length-1).each do |venue|%>
        <div class = "grid-cell" id="grid-item-<%= @uniqueVenues[venue].id %>" onmouseenter="cellFade(true,this.id)" onmouseout="cellFade(false)" >
   
         
         <div id="grid-thumb-<%= @uniqueVenues[venue].id %>" onclick="toggleExpand(true,this.id)">
            <img class="film-img no-pointer glow-shadow" src="<%= @uniqueVenues[venue].image_url %>" />
              <div class ="film-content m-2 mt-3">
                <h1 class='film-title lead no-pointer'><%= @uniqueVenues[venue].name %></h1>     
              </div> 
            </div>
        </div>

        <div class="grid-expand venue-expand" id="grid-expand-<%= @uniqueVenues[venue].id %>">
          <div class="expand-overlay" id="expand-overlay-<%= @uniqueVenues[venue].id %>" onclick="toggleExpand(false,this.id)"></div>
          <div class="expand-content glow-shadow">
            <img class="venue-expand-img" src="<%= @uniqueVenues[venue].image_url %>" />
              <div class="expand-text p-4">
                <h1 class='venue-title display-4'><%= @uniqueVenues[venue].name %></h1>
                <p class="description"><%= @uniqueVenues[venue].location %></p>
                <hr class="no-pointer">
                <ul class="expand-list">
                    <li class="badge badge-info" ><%= t('venues.index.cap') %><%= @uniqueVenues[venue].rows * @uniqueVenues[venue].seats_per_row %></li>
                </ul>
                <hr class="no-pointer">
                <p class="description" ><%= t('showings.index.select') %><%= @film.title %></p>
                <% @venueShowings[venue].each do |showing| %>
                  <span class="badge badge-warning badge-pill m-2"><%= button_to showing.time.strftime('%H:%M'),showings_path, method: :get, class: "showing-time" %></span>
                   
                <% end %> 
              </div>
            </div>
        </div>
      <% end %>   
  </div>
</div>














