
<div class="wrapper-inner p-4">
  <div class="showing-show row py-4 my-4">

		<img class="expand-img glow-shadow m-3" src="<%= @venue.image_url %>" />
	
	
	
	 <h1 class='display-4 m-3'><%= @venue.name %></h1>
   <ul class="meta-list showing-meta m-3">
              <li class="text-muted"><%= t('showings.index.location') %></li>
              <li><%= @venue.location %></li>
              <hr class="no-pointer">
              <li class="text-muted"><%= t('venues.index.cap') %></li>
              <li><%= @venue.rows * @venue.seats_per_row %><%= t('venues.index.cap2') %></li>
              <hr class="no-pointer">
              <li class="text-muted"><%= t('showings.index.select') %></li>
              <li><%= @film.title %></li>
              <hr class="no-pointer">
              <li class="text-muted mb-3" ><%= t('showings.index.times') %></li>
                <div class = "showings-buttons-wrapper">
                <% puts "XXXXXXXXXXXXXX"%>
                <% puts @venueShowings.length%>
                    <% @venueShowings.each do |showing| %>
                    <div class = "showing-actions">
                      <%= button_to showing.time.strftime('%H:%M'),  new_booking_path, method: :get, params: { showing: showing }, class: "btn btn-outline-warning btn-lg", id: "badge-#{showing.id}"%>
                      <button id="badge-<%=showing.id%>"class="badge" onclick="popoutToggle(this.id,true)">view available seats</button>
                        <div id="popout-<%=showing.id%>" class = "popout-overlay">
                          <div class="seat-popout">
                            <%= render 'shared/seat_grid', booking: @booking, showing: showing %>
                            <button id="popout-close-<%= showing.id %>"class="popout-close btn btn-sm btn-outline-secondary my-2" onclick="popoutToggle(this.id,false)"><%= t('films.film.close')%></button>   
                          </div>  
                          
                        </div>
                        
                      
                      </div>                        
                    <% end %> 
                  </div>
                  </ul>
		

</div>     