<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @showing.film.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @showing.venue.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @showing.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @showing.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @showing.price %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
