<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @showing.film %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @showing.venue %>
</p>

<p>
  <strong>Date:</strong>
  <%= @showing.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @showing.time %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
