<%= form_with(model: booking, local: true, id: "booking-form") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="meta-list px-3 form-list">
    <li>
      <label class="form-input text-muted">
        <%= t('bookings.form.name') %>
        <%= form.text_field :name, class: "text-input p-2", placeholder: t('bookings.form.req'), required: true, type: "text" %>
      </label>
      <hr class="no-pointer mt-0">
    </li>

    <li>
      <label class="form-input text-muted">
        <%= t('bookings.form.email') %>
        <%= form.text_field :email, class: "text-input p-2", placeholder: t('bookings.form.req'), required: true, type: "email" %>
      </label>
      <hr class="no-pointer mt-0">
    </li>

    <li>
      <label class="form-input text-muted">
        <%= t('bookings.form.seats') %>
        <div class="seat-amount-wrapper">
          <select id="seats-amount" class="seats-amount text-input p-1 m-2" ></select>
          <button type="button" class="btn btn-sm btn-outline-warning my-2" onclick="toggleSeatSelector(true)"><%= t('bookings.form.select')%></button> 
        </div>
      </label>
      <hr class="no-pointer mt-0">
    </li>

    <li>
      <label class="form-input text-muted">
        <%= t('bookings.form.e-ticket') %>
        <div class="seat-amount-wrapper">
          <span id="e-ticket-code" class=" text-input p-2 no-pointer"><%= @booking.E_ticket %></span>
          <button id="clipboard-btn" type="button" class="btn btn-sm btn-outline-info my-2" onclick="handleClipboard()"><%= t('bookings.form.copy')%></button> 
        </div>
      </label>
      <hr class="no-pointer mt-0">
    </li>

    <%= form.hidden_field :showing_id%>
    <%= form.hidden_field :seat%>
    <%= form.hidden_field :row%>
    <%= form.hidden_field :E_ticket%>
 
  </ul>

<%= render 'seat_selector', booking: @booking %> 
  
  <button id="bookingSubmit" class="btn btn-outline-info m-3" type="submit">Submit</button>  
<% end %>

<script>handleOptions()</script>
<script>bookingFormSubmit()</script>
