<div id="seat-selector" class="seat-selector">
    <div class="expand-overlay" id="" onclick="toggleSeatSelector(false)"></div>
    <div class="selector-content">

      <ul class="meta-list px-3 form-list">
        <li class="text-muted"><%= t('bookings.form.cinemaOverview') %></li>
        <li class=""><%= t('bookings.form.position') %></li>
        <hr class="no-pointer">
        <li class="text-muted"><%= t('bookings.form.seats_remaining') %></li>
        <li class="" id="seat-counter">1</li>
        <hr class="no-pointer">
        <li class="text-muted"><%= t('bookings.form.screen') %></li>
      </ul> 

      <div class="meta-list px-3 form-list"> 
        <% (1..@booking.showing.venue.rows).each do |row|%>
          <p class=" mb-2" ><%= t('bookings.form.row') %><%= row %></p>
            <div class="flex-container px-3">
              <% (1..@booking.showing.venue.seats_per_row).each do |seat|%>
              <% free = true%>
              <% @occupied.each do |occupied|%>
                <% if occupied[0] == seat && occupied[1] == row%>
                  <% free = false%>
                <% end %>
              <% end %>
                <% if free %>
                  <div id = "seat<%= seat %>row<%= row %>"class="flex-item glow-shadow-2" onclick="seatSelect(<%= seat %>,<%= row %>)"></div>
                <%else%>
                  <div id = "seat<%= seat %>row<%= row %>"class="flex-item seat-occupied no-pointer glow-shadow-2" ></div>
                <% end %>  
              <% end %>
            </div>
          <% end %>
        </div>
      <button class="expand-close btn btn-sm btn-outline-secondary my-2" onclick="toggleSeatSelector(false)"><%= t('films.film.close')%></button> 
    </div>
  </div>