<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @venue.image_url %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @venue.rows %>
</p>

<p>
  <strong>Seats per row:</strong>
  <%= @venue.seats_per_row %>
</p>


