<p id="notice"><%= notice %></p>



<div class="wrapper-inner px-4">
  <div class="heading mx-2 mb-4">
    <h1 class="title display-4"><%= t('films.index.title') %></h1>
    <p class="description lead"><%= t('films.index.description') %></p>
  </div>   
  <div class='film-grid mx-2 py-4'>
    <% @films.each do |film| %>
    
        <div class = "film-item" id="grid-item-<%= film.id %>">
            <img class="film-img" src="<%= film.image_url %>" />
              <div class ="film-content m-2">
                <h1 class='film-title lead'><%= film.title %></h1>
                <button id="expand-<%= film.id %>"class="film-read-more btn btn-block btn-outline-info" ><%= t('films.index.more') %></button>     
              </div>  
              <div id="grid-expand-<%= film.id %>" class="grid-expand" style="display: none;">
                <div class="expand-overlay" id="expand-overlay-<%= film.id %>"></div>
                <div class="expand-content">
                  <div class="row">
                  <div class="col-md-4">
                  <img class="expand-img " src="<%= film.image_url %>" />
                  </div>
                      
                 
                    <div class="col-md-8 expand-text p-4">
                      <h1 class='film-title display-4'><%= film.title %></h1>
                      
                      
                      
                  

                      <ul class="expand-list">
                        <li><%= t('films.film.rd') %><%= film.release_date %></li>
                        <li><%= t('films.film.rating') %> <%= film.rating %></li>
                        <li><%= t('films.film.rtm') %><%= film.running_time_mins %></li>
                        <li><%= t('films.film.ma') %><%= film.minimum_age_restriction %></li>
                      
                      </ul>
                      <hr class="no-pointer">

                      <p class="expand-descr"><%= film.description %></p>
                      <hr class="no-pointer">
                      <button id="expand-<%= film.id %>"class="film-read-more btn btn-lg btn-block btn-outline-info" ><%= t('films.film.book') %><%= film.title %></button>     

        
        
                    </div>
                  </div>
                  
                    
                  </div>
                </div>      
          </div>

        

    
        
    <% end %>
  </div>
</div>



<br>


