<p id="notice"><%= notice %></p>



<div class="wrapper-inner px-4">
  <div class="heading mx-2 mb-4">
    <h1 class="title display-4"><%= t('films.index.title') %></h1>
    <p class="description lead"><%= t('films.index.description') %></p>
  </div>   
  <div class='item-grid mx-2 py-4'>
    <% @films.each do |film| %>
    
        <div class = "grid-cell" id="grid-item-<%= film.id %>" onmouseenter="cellFade(true,this.id)" onmouseout="cellFade(false)" >
            <div id="grid-thumb-<%= film.id %>" onclick="toggleExpand(true,this.id)">
            <img class="film-img no-pointer glow-shadow" src="<%= film.image_url %>" />
              <div class ="film-content m-2 mt-3">
                <h1 class='film-title lead no-pointer'><%= film.title %></h1>     
              </div> 
            </div>
              <div id="grid-expand-<%= film.id %>" class="grid-expand">
                <div class="expand-overlay" id="expand-overlay-<%= film.id %>" onclick="toggleExpand(true,this.id)"></div>
                <div class="expand-content glow-shadow film-expand">
                  <img class="expand-img " src="<%= film.image_url %>" />
                    <div class="expand-text p-4">
                      <h1 class='film-title display-4'><%= film.title %></h1>
                      <ul class="expand-list">
                        <li class="film-date badge badge-info" id="film-date-<%= film.id %>"><%= t('films.film.rd') %><%= film.release_date %></li>
                        <li class="badge badge-info"><%= t('films.film.rating') %> <%= film.rating %></li>
                        <li class="badge badge-info"><%= t('films.film.rtm') %><%= film.running_time_mins %></li>
                        <li class="badge badge-info"><%= t('films.film.ma') %><%= film.minimum_age_restriction %></li>
                      </ul>
                      <hr class="no-pointer">
                      <p class="expand-descr"><%= film.description %></p>
                      <hr class="no-pointer">
                      
                      <%= button_to t('films.film.book') + film.title ,showings_path, method: :get, params: { film: film, title: film.title }, class: "film-read-more btn btn-lg btn-block btn-outline-info mb-2",  id: "book-" + film.id.to_s %>    
                      <button id="grid-close-<%= film.id %>"class="expand-close btn btn-lg btn-outline-secondary btn-block mb-2" onclick="toggleExpand(false,this.id)"><%= t('films.film.close')%></button> 
                    </div>
                  </div>
                </div>      
        </div>

        
    <% end %>
  </div>
</div>





