

<div class="wrapper-inner px-4">
    <div class="heading mx-2 mb-4">
     <h1 class="title display-4"><%= t('my_bookings.find.title') %></h1>
        <p class="description lead"><%= t('my_bookings.find.description') %></p>
    </div>   
  
  <div class="find-content">
      <div class="find-img-meta mb-3">
        <img class="expand-img glow-shadow m-3" src="<%= @bookings.first.showing.film.image_url %>" />
        <ul class="find-meta-list px-3">
            <li class="text-muted"><%= t('bookings.form.film') %></li>
            <li class=""><%= @bookings.first.showing.film.title %></li>        
            <li class="text-muted"><%= t('bookings.form.venue') %></li>
            <li class=""><%= @bookings.first.showing.venue.name %></li>           
            <li class="text-muted"><%= t('bookings.form.time') %></li>
            <li class=""><%= @bookings.first.showing.time.strftime('%H:%M') %></li>
            <li class="text-muted"><%= t('bookings.form.price') %></li>
            <li class=""><%= number_to_currency(@bookings.first.showing.price) %></li>      
        </ul>
      </div>
    
      <p class="title display-4 find-title"><%= t('my_bookings.find.price') %></p>
      <p class="title display-4 find-price"><%= number_to_currency(@bookings.first.showing.price * @bookings.length) %></p>   
      <p class="title display-4 find-title"><%= t('my_bookings.find.seats') %></p>
      <table class="find-table">
            <thead class="border-bottom py-2 ">
                <tr class="find-table-row find-table-heading">
                    <th scope="col">Seat</th>
                    <th scope="col">Row</th>
                    <th scope="col">Price</th>
                    <th scope="col">Show full details</th>
                    <th scope="col">Remove seat</th>
                </tr>
            </thead>

            <tbody class="find-table-body">
                <% @bookings.each do |venue| %>
                <tr class="find-table-row border-bottom">
                    <td><%= venue.seat %></td>
                    <td><%= venue.row %></td>
                    <td><%= number_to_currency(venue.showing.price) %></td>
                    <td><%= button_to t('my_bookings.find.show'), venue, class: "btn btn-outline-info" %></td>
                    <td><%= button_to t('my_bookings.find.cancel'), venue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
            
        </div>     
      
 </div>
                    