<!DOCTYPE html>
<html>
  <head>
    <title>MK01311Com2025Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# Render a header partial for each page %>
    <%= render 'shared/header' %>

    <%# Render flash notices on any page %>
    <% flash.each do |key,msg| %>
      <div class= "notice m-4">
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>
    
    

  </body>
  <%# Render a footer partial for each page %>
    <%= render 'shared/footer' %>
</html>
