<!DOCTYPE html>
<html>
  <head>
    <title>MK01311Com2025Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <% flash.each do |key,msg| %>
      <div class= "notice m-4">
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
